# Dependencies
node_modules/

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Coverage
coverage/
*.lcov

# Build outputs
/dist
/build

# Cache
.nyc_output/
.cache/
.eslintcache

# OS
.DS_Store

# Environment files
.env
.env.*

# IDE / Editor
.vscode/
!.vscode/tasks.json
.idea/
*.iml

# Misc
*.tgz
